/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2019, 4:03:32 PM
    Author     : geeta.nukala
*/

ul{
    list-style-type: none;
}

.container {
  position: relative;
}
.select-checkbox {
  display: none;
}
.select-label {
  display: block;
  border: 1px solid;
  padding: 4px;
}
.select-label:before {
  content: "\25BE";
  float: right;
}
.select-wrap {
  position: absolute;
  width: 100%;
  background: #eee;
  display: none;
}
.select-checkbox:checked ~ .select-wrap {
  display: block;
}
.select {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.select a {
  display: block;
  text-decoration: none;
  color: inherit;
}
#block-country-menu, #block-topmenuright-menu, #block-menu-menu{
    display: none;
}
.contextual-region {
    position: relative;
}
header{
    background-color: gray;
    height: 35px;
}
.dropdown > a, .dropdown1 > a{
    color:#000;
}
.dropdown-menu > li > a{
    color:#fff;
}
.dropdown, .dropdown1{
    padding-right: 55px;
}
.dropdown-menu{
    background-color:navy;
    padding: 20px;
}
.dropdown-menu li{
    padding-bottom:6px;
}
.dropdown-ul{
    width: 515px;
}
.main_navigation{
    color:#fff;
    height:80px;
    color: #00205b;
    font-size: 16px;
    font-weight: 500;
}
#block-sitebranding h2{
    display: none;
}
.site-name{
    display: none;
}
.feed-icons{
    display:none;
}
#block-breadcrumbs h2{
    display: none;
}
footer{
    padding-top: 30px;
}
footer ul{
    border-right: 1px solid gray;
}

#block-footerfeaturedbottom > h2{
    display: none;
}
#block-footerfeaturedbottom{
    display: inline-flex;
}

.menu-item > a{
    color: #fff;
}
.field--name-field-bottom-logo > .field__label{
    display: none;
}
.field--name-field-quote-link > .field__label{
    display: none;
}
.field--name-field-title > .field__label{
    display: none;
}
.content-div{
        width: 100%;
}
.field__item > a{
    color: #fff;
}
.header-main-menu{
        margin-bottom: 10px;
}
#block-storage-title .field__label{
    display: none;
}
.field--name-field-standard-width-title > .field__item{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
    color: #000000;
    margin: 0;
}
.field--name-field-summary > .field__item{
    color: #5c5956;
    line-height: 36px;
    font-size: 26px;
    margin: 0;
    font-weight: 400;
}